# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
_py-xgboost-mutex=2.0=cpu_0
absl-py=0.15.0=pypi_0
aiofiles=22.1.0=pypi_0
aiosqlite=0.19.0=pypi_0
anndata=0.8.0=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.2.3=pypi_0
ase=3.22.1=pypi_0
astor=0.7.1=pypi_0
astunparse=1.6.3=pypi_0
attrs=23.1.0=pypi_0
autocommand=2.2.2=pypi_0
autograd=1.6.2=pypi_0
autograd-gamma=0.4.2=pypi_0
babel=2.14.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.12.2=pypi_0
biopython=1.81=pypi_0
bioservices=1.11.2=pypi_0
blas=1.1=openblas
bleach=6.0.0=pypi_0
blessed=1.20.0=pypi_0
bottleneck=1.3.5=py37h7deecbd_0
brotlipy=0.7.0=py37h27cfd23_1003
bzip2=1.0.8=h4bc722e_7
ca-certificates=2024.8.30=hbcca054_0
cached-property=1.5.2=pypi_0
cachetools=5.3.3=pypi_0
cairo=1.16.0=h18b612c_1001
captum=0.7.0=pypi_0
catboost=0.26=pypi_0
cattrs=23.1.2=pypi_0
certifi=2024.8.30=pyhd8ed1ab_0
cffi=1.15.1=py37h5eee18b_3
chardet=5.2.0=pypi_0
charset-normalizer=2.0.4=pyhd3eb1b0_0
cheroot=10.0.1=pypi_0
cherrypy=18.10.0=pypi_0
clang=5.0=pypi_0
click=8.1.7=pypi_0
cloudpickle=2.2.1=pypi_0
cobra=0.23.0=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.8.0=pypi_0
colour=0.1.5=pypi_0
comm=0.1.4=pypi_0
cryptography=38.0.2=py37h5994e8b_1
cuda-version=11.3=hbc958af_3
cudatoolkit=11.3.1=ha36c431_9
cudnn=8.3.2.44=hed8a83a_1
cycler=0.11.0=pypi_0
debugpy=1.7.0=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
depinfo=1.7.0=pypi_0
dgl-cuda11.0=0.9.1post1=py37_0
dgl-cuda11.3=0.9.1post1=py37_0
dgllife=0.2.8=pypi_0
dill=0.3.7=pypi_0
diskcache=5.6.3=pypi_0
dominate=2.9.1=pypi_0
drfp=0.3.6=pypi_0
easydev=0.12.1=pypi_0
entrypoints=0.4=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.0=pypi_0
expat=2.6.3=h5888daf_0
faerun=0.3.20=pypi_0
fair-esm=0.3.1=pypi_0
fastjsonschema=2.19.0=pypi_0
ffmpeg=4.2.2=h20bf706_0
fftw=3.3.10=nompi_h77c792f_102
filelock=3.12.2=pypi_0
flatbuffers=1.12=pypi_0
fontconfig=2.14.2=h14ed4e7_0
fonttools=4.38.0=pypi_0
formulaic=0.2.4=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.12.1=h267a509_2
fsspec=2023.1.0=pypi_0
future=0.18.3=pypi_0
gast=0.4.0=pypi_0
gensim=4.2.0=pypi_0
gevent=22.10.2=pypi_0
giflib=5.2.1=h5eee18b_3
glib=2.80.2=hf974151_0
glib-tools=2.80.2=hb6ce0ca_0
gmp=6.2.1=h295c915_3
gnutls=3.6.15=he1e5248_0
google-auth=2.29.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
googledrivedownloader=0.4=pypi_0
gpustat=1.1.1=pypi_0
greenlet=3.0.1=pypi_0
grequests=0.7.0=pypi_0
grpcio=1.62.1=pypi_0
h11=0.14.0=pypi_0
h5py=3.1.0=pypi_0
hf-transfer=0.1.6=pypi_0
hickle=4.0.1=pypi_0
httpcore=0.17.3=pypi_0
httpx=0.24.1=pypi_0
huggingface-hub=0.16.4=pypi_0
hyperopt=0.2.7=pypi_0
icu=58.2=hf484d3e_1000
idna=3.4=py37h06a4308_0
igraph=0.10.8=pypi_0
imbalanced-learn=0.7.0=pypi_0
importlib=1.0.4=pypi_0
importlib-metadata=4.13.0=pypi_0
importlib-resources=5.12.0=pypi_0
inflect=6.0.5=pypi_0
inquirerpy=0.3.4=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
interface-meta=1.3.0=pypi_0
ipykernel=6.16.2=pypi_0
ipython=7.34.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.1.1=pypi_0
isodate=0.6.1=pypi_0
isoduration=20.11.0=pypi_0
jaraco-collections=4.2.0=pypi_0
jaraco-context=4.3.0=pypi_0
jaraco-functools=3.7.0=pypi_0
jaraco-text=3.11.1=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pyhd8ed1ab_0
jpeg=9e=h0b41bf4_3
json5=0.9.16=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.17.3=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=7.4.9=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-core=4.12.0=pypi_0
jupyter-events=0.6.3=pypi_0
jupyter-server=1.24.0=pypi_0
jupyter-server-fileid=0.9.3=pypi_0
jupyter-server-ydoc=0.8.0=pypi_0
jupyter-ydoc=0.2.5=pypi_0
jupyterlab=3.6.8=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.24.0=pypi_0
jupyterlab-widgets=3.0.9=pypi_0
keras=2.11.0=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.5=pypi_0
lame=3.100=h7b6447c_0
lcms2=2.12=hddcbb42_0
ld_impl_linux-64=2.40=hf3520f5_7
leidenalg=0.10.2=pypi_0
lerc=3.0=h295c915_0
libblas=3.9.0=20_linux64_openblas
libboost=1.73.0=h28710b8_12
libcblas=3.9.0=20_linux64_openblas
libdeflate=1.17=h5eee18b_1
libexpat=2.6.3=h5888daf_0
libffi=3.4.2=h7f98852_5
libgcc=14.1.0=h77fa898_1
libgcc-ng=14.1.0=h69a702a_1
libgfortran=14.1.0=h69a702a_1
libgfortran-ng=14.1.0=h69a702a_1
libgfortran5=14.1.0=hc5f4f2c_1
libglib=2.80.2=hf974151_0
libgomp=14.1.0=h77fa898_1
libiconv=1.17=hd590300_2
libidn2=2.3.4=h5eee18b_0
liblapack=3.9.0=20_linux64_openblas
libnsl=2.0.1=hd590300_0
libopenblas=0.3.25=pthreads_h413a1c8_0
libopus=1.3.1=h5eee18b_1
libpng=1.6.43=h2797004_0
libsqlite=3.46.0=hde9e2c9_0
libstdcxx=14.1.0=hc0a3c3a_1
libstdcxx-ng=14.1.0=h4852527_1
libtasn1=4.19.0=h5eee18b_0
libtiff=4.2.0=hf544144_3
libunistring=0.9.10=h27cfd23_0
libuuid=2.38.1=h0b41bf4_0
libvpx=1.7.0=h439df22_0
libwebp=1.2.4=h11a3e52_1
libwebp-base=1.2.4=h166bdaf_0
libxcb=1.16=hb9d3cd8_1
libxgboost=1.2.0=he1b5a44_0
libxml2=2.9.9=h13577e0_2
libzlib=1.2.13=h4ab18f5_6
lifelines=0.27.7=pypi_0
littleutils=0.2.2=pypi_0
llvm-openmp=18.1.4=ha31de31_0
llvmlite=0.39.1=pypi_0
lxml=4.9.3=pypi_0
lz4-c=1.9.4=h6a678d5_0
markdown=3.4.4=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.2.2=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdurl=0.1.2=pypi_0
mistune=3.0.2=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py37h7f8727e_0
mkl_fft=1.3.1=py37h3e078e5_1
mkl_random=1.2.2=py37h219a48f_0
more-itertools=9.1.0=pypi_0
mpmath=1.3.0=pypi_0
natsort=8.4.0=pypi_0
nbclassic=1.0.0=pypi_0
nbclient=0.7.4=pypi_0
nbconvert=7.6.0=pypi_0
nbformat=5.8.0=pypi_0
ncurses=6.5=he02047a_1
nest-asyncio=1.5.8=pypi_0
nettle=3.7.3=hbbd107a_1
networkx=2.6.3=pyhd3eb1b0_0
notebook=6.5.6=pypi_0
notebook-shim=0.2.3=pypi_0
numba=0.56.4=pypi_0
numexpr=2.7.3=py37he8f5f7f_1
numpy=1.19.2=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-ml-py=12.535.133=pypi_0
nvitop=1.4.2=pypi_0
oauthlib=3.2.2=pypi_0
ogb=1.3.6=pypi_0
ogdf=1.2.0=h2bc3f7f_0
olefile=0.47=pyhd8ed1ab_0
openblas=0.3.25=pthreads_h7a3da1a_0
openh264=2.1.1=h4ff587b_0
openpyxl=3.1.2=pypi_0
openssl=3.3.2=hb9d3cd8_0
opt-einsum=3.3.0=pypi_0
optlang=1.6.1=pypi_0
outdated=0.2.2=pypi_0
packaging=22.0=py37h06a4308_0
pandas=1.3.0=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
patsy=0.5.6=pypi_0
pbr=6.0.0=pypi_0
pcre=8.45=h295c915_0
pcre2=10.43=hcad00b1_0
pexpect=4.9.0=pypi_0
pfzy=0.3.4=pypi_0
pickle5=0.0.12=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.1.2=py37h4600e1f_0
pip=24.0=pypi_0
pixman=0.38.0=h516909a_1003
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=4.0.0=pypi_0
plotly=5.18.0=pypi_0
plyfile=0.9=pypi_0
portend=3.1.0=pypi_0
prettytable=3.7.0=pypi_0
prometheus-client=0.17.1=pypi_0
prompt-toolkit=3.0.41=pypi_0
protobuf=3.20.3=pypi_0
psutil=5.9.6=pypi_0
pthread-stubs=0.4=h36c2ea0_1001
ptyprocess=0.7.0=pypi_0
pubchempy=1.0.4=pypi_0
py-boost=1.73.0=py37h51133e4_12
py3dmol=2.4.2=pypi_0
py4j=0.10.9.7=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=1.10.17=pypi_0
pygments=2.17.2=pypi_0
pymysql=1.1.1=pypi_0
pynndescent=0.5.12=pypi_0
pyopenssl=23.0.0=py37h06a4308_0
pyparsing=3.1.1=pypi_0
pyrsistent=0.19.3=pypi_0
pysocks=1.7.1=py37_1
python=3.7.12=hf930737_100_cpython
python-dateutil=2.9.0=pyhd8ed1ab_0
python-graphviz=0.20.1=pypi_0
python-igraph=0.10.8=pypi_0
python-json-logger=2.0.7=pypi_0
python-libsbml=5.19.2=pypi_0
python_abi=3.7=4_cp37m
pytorch-mutex=1.0=cuda
pytz=2024.2=pyhd8ed1ab_0
pyyaml=6.0.1=pypi_0
pyzmq=24.0.1=pypi_0
qtconsole=5.4.4=pypi_0
qtpy=2.4.1=pypi_0
rdflib=6.3.2=pypi_0
rdkit=2020.09.1.0=py37hd50e099_1
rdkit-pypi=2022.9.5=pypi_0
readline=8.2=h8228510_1
regex=2024.4.16=pypi_0
requests=2.28.1=py37h06a4308_0
requests-cache=1.1.1=pypi_0
requests-oauthlib=2.0.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.8.1=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.18.6=pypi_0
ruamel-yaml-clib=0.2.8=pypi_0
rxnfp=0.1.0=pypi_0
safetensors=0.4.3=pypi_0
scanpy=1.9.3=pypi_0
scikit-learn=1.0.2=py37hf9e9bfc_0
scipy=1.7.3=py37hf2a6cf1_0
seaborn=0.10.0=pypi_0
send2trash=1.8.2=pypi_0
sentencepiece=0.2.0=pypi_0
session-info=1.0.0=pypi_0
setuptools=68.0.0=pypi_0
shap=0.42.0=pypi_0
six=1.15.0=pypi_0
slicer=0.0.7=pypi_0
smart-open=7.0.4=pypi_0
sniffio=1.3.0=pypi_0
soappy=0.12.22=pypi_0
soupsieve=2.4.1=pypi_0
sqlite=3.46.0=h6d4b2fc_0
statsmodels=0.13.5=pypi_0
stdlib-list=0.10.0=pypi_0
suds-community=1.1.2=pypi_0
swiglpk=5.0.12=pypi_0
sympy=1.10.1=pypi_0
tables=3.6.1=pypi_0
tempora=5.3.0=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.11.2=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.6.0=pypi_0
tensorflow-estimator=2.15.0=pypi_0
tensorflow-gpu=2.3.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.17.1=pypi_0
texttable=1.7.0=pypi_0
threadpoolctl=3.1.0=pyh8a188c0_0
tinycss2=1.2.1=pypi_0
tk=8.6.13=noxft_h4845f30_101
tmap=1.0.6=py37h2bc3f7f_0
tokenizers=0.13.3=pypi_0
tomli=2.0.1=pypi_0
torch=1.13.1=pypi_0
torch-geometric=1.5.0=pypi_0
torch-scatter=2.1.1+pt113cu117=pypi_0
torch-sparse=0.6.17+pt113cu117=pypi_0
torchaudio=0.13.1=pypi_0
torchvision=0.14.1=pypi_0
tornado=6.2=pypi_0
tqdm=4.66.1=pypi_0
traitlets=5.9.0=pypi_0
transformers=4.30.2=pypi_0
typing-extensions=4.7.1=pypi_0
ujson=5.7.0=pypi_0
umap-learn=0.5.6=pypi_0
uri-template=1.3.0=pypi_0
url-normalize=1.4.3=pypi_0
urllib3=1.26.14=py37h06a4308_0
visdom=0.2.4=pypi_0
wcwidth=0.2.12=pypi_0
webcolors=1.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.6.1=pypi_0
werkzeug=2.2.3=pypi_0
wheel=0.42.0=pyhd8ed1ab_0
widgetsnbextension=4.0.9=pypi_0
wrapt=1.12.1=pypi_0
wstools=0.4.8=pypi_0
x264=1!157.20191217=h7b6447c_0
xgboost=1.2.0=pypi_0
xmltodict=0.13.0=pypi_0
xorg-kbproto=1.0.7=h7f98852_1002
xorg-libice=1.1.1=hd590300_0
xorg-libsm=1.2.4=h7391055_0
xorg-libx11=1.8.9=hb711507_1
xorg-libxau=1.0.11=hd590300_0
xorg-libxdmcp=1.1.3=h7f98852_0
xorg-libxext=1.3.4=h0b41bf4_2
xorg-libxrender=0.9.11=hd590300_0
xorg-renderproto=0.11.1=h7f98852_1002
xorg-xextproto=7.3.0=h0b41bf4_1003
xorg-xproto=7.0.31=h7f98852_1007
xz=5.2.6=h166bdaf_0
y-py=0.6.2=pypi_0
yacs=0.1.8=pypi_0
ypy-websocket=0.8.4=pypi_0
zc-lockfile=3.0.post1=pypi_0
zipp=3.15.0=pypi_0
zlib=1.2.13=h4ab18f5_6
zope-event=5.0=pypi_0
zope-interface=6.1=pypi_0
zstd=1.5.6=ha6fb4c9_0
